<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="INGENIC Irish Network for Gender Equality at National 3rd level Institutions for Computing ">
    <meta name="keywords" content="women, computing, third level education">
    <meta name="author" content="Daisy Muyldermans, Enya Hand, Lilith Tamm">
    <title><%= item.title %></title>
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../main.js"></script>
    <link type="text/css" rel="stylesheet" href="/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
<!--INCLUDING HEADER AND NAVIGATION FROM EJS HEADER-->
<% include ../partials/header.ejs %>

<!--END OF NAVIGATION BAR-->

<!--NEWS ITEM-->
<br/>
<div class="container">
    <article>
        <header>
            <h1 class="menu"><%= item.title %></h1>
            <br/>
            <time datetime="<%= item.datetime %>"><%= item.artdate %></time>
        </header>
        <figure>
            <img src="<%= item.image %>" class="ml-4 my-4 rounded float-right" height="200" alt="<%= item.alttext %>"/>
        </figure>
        <%- item.text %>
    </article>
    <a href="/news">Go back</a>
</div>

<!--INCLUDE FOOTER FROM EJS FOOTER-->
<% include ../partials/footer.ejs %>

</body>
</html>